@media (max-width: 768px) {
  .hero-title {
      font-size: 36px;
  }
  .hero-subtitle {
      font-size: 18px;
  }
}

.hero {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: "Plus Jakarta Sans", sans-serif;
  }
  
  .hero-title {
    margin-top: 140px;
    font-weight: 700;
    font-size: 72px;
    line-height: 150%;
    color: #191E2A;
    margin-bottom: 0px;
  }
  
  .hero-subtitle {
    margin-top: 24px;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -2%;
    color: #90A3BF;     
  }